.program-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: rgba(0, 0, 0); */
    /* backdrop-filter: blur(500px); */
    height: auto;
    /* padding: 4%; */
    padding-bottom: 4%;
    
    vertical-align:top;
    /* padding: 10%; */
}

.program-item {
    /* background: #D1CECE4A; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 3%;
    height: 500px;
    min-height: 240px;
    /* Replace with the minimum height you want */
    max-height: 550px;
    /* Replace with the maximum height you want */
    width: 24%;
    /* margin-bottom: 30px; */
    visibility: visible;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    /* padding: 1%; */
    overflow-y: auto;
    border: 4px;
    border-color: white;
    /* scrollbar-width: thin; */
    /* gap: 100px; */
    /* Add this to make the content scrollable if it exceeds the max height */
}
.program-item:hover {
    box-shadow: 5px 10px 10px  rgba(255, 210, 49, 0.982);
    transition: 0.3s;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.animated {
    animation-duration: 1.25s;
    animation-fill-mode: both;
}

.program-figure {
    text-align: center;
}

.img-fluid {
    /* max-width: 70%; */
    padding: 3%;
    height: 70%;
    background: cover !important;
    
    /* border-radius: 10px; */
}



.program-content {
    text-align: center;
}

.program-title {
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
}

.link {
    color: #ffbb1ccd;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media screen and (max-width:700px) {
    .program-container {
        width: auto;
        height: auto;
        /* padding: 10%; */
        padding: 13px;
    }

    .img-fluid {
        /* width: 50%; */
        height: 50%;
        overflow: hidden;
    }

    .program-item {
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }

}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .program-item {
        width: 40%;
        height: 500px;
    }
}